/* Reset default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo {
    width: 14vh;
    height: 7%;
}

/* Body styles */
body {
    font-family: 'Roboto', sans-serif;
    background-color: white;
    color: #333;
    line-height: 1.6;
}

/* Header styles */
header {
    background-color: rgba(201, 226, 245, 0.608);
    padding: 20px 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}

nav img.logo {
    height: 80px;
}

nav a {
    text-decoration: none;
    color: #333;
    font-size: 18px;
    margin-right: 20px;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #0066ff;
}

/* Section styles */
section {
    padding: 50px 20px;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

section img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

#home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img#homepic1,
img#homepic2 {
    max-width: 50%;
    height: auto;
}

img#she {
    max-width: 98%;
    height: 98vh;
}

img#blo {
    max-width: 118%;
    height: 118vh;
}

h1, h2 {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    margin-bottom: 20px;
}

h1 {
    font-size: 36px;
    color: #333;
}

h2 {
    font-size: 24px;
    color: #0066ff;
}

p {
    font-size: 20px;
    color: #666;
    margin-bottom: 20px;
}

/* Button styles */
button, input[type="submit"], .cta-btn {
    padding: 10px 20px;
    background-color: #0066ff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
}

button:hover, input[type="submit"]:hover, .cta-btn:hover {
    background-color: #2e84f5b5;
}

/* Input field styles */
input[type="text"], input[type="email"], input[type="number"] {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
}

input[type="text"]:hover, input[type="email"]:hover, input[type="number"]:hover {
    border-color: #999;
}

input[type="text"]:focus, input[type="email"]:focus, input[type="number"]:focus {
    border-color: #0066ff;
    box-shadow: 0 0 5px rgba(0, 102, 255, 0.5);
}

/* Adjust footer logo size */
.footer-logo {
    width: 100px;
    height: auto;
    margin-bottom: 10px;
}

.social-icon {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    border-radius: 10px;
    margin-top: 3px;
}

footer {
    background-color: #050120;
    color: white;
    padding: 20px 0;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer-contact p {
    margin: 5px 0;
    height: fit-content;
}

.footer-bottom {
    text-align: center;
    margin-top: 20px;
}

/* CSS for the contact form box styling */
#contact-form, #donation-form, #volunteer-form {
    width: 50%;
    margin: auto;
    padding: 20px;
    background-color: #DEEDF9;
    border-radius: 8px;
}

#contact-form label, #donation-form label, #volunteer-form label {
    font-weight: bold;
}

#contact-form input[type="text"], #contact-form input[type="email"], #contact-form textarea, #volunteer-form textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
}

#contact-form textarea, #volunteer-form textarea {
    height: 150px;
}

#contact-form input[type="submit"] {
    background-color:#0066ff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

#contact-form input[type="submit"]:hover {
    background-color: #0066ff;
}

#thank-you-message, #thank-you-message1, #thank-you-message2 {
    font-size: larger;
    display: none;
    position: absolute;
    left: 0;
    width: 100%;
    margin-top: 20px;
    text-align: center;
    font-style: italic;
}

#contact-section, #donate-section {
    min-height: 500px;
}

.gallery-container {
    position: relative;
    max-width: 100%; /* Ensure the gallery fits its container */
    overflow: hidden; /* Hide overflow images */
    margin: auto;
    text-align: center; /* Center the images horizontally */
    position: relative;
}

.gallery-img {
    display: none;
    max-width: auto; /* Ensure images don't exceed their container */
    height: auto; /* Maintain aspect ratio */
    width: auto; /* Ensure images take up full width of container */
    object-fit: cover; /* Ensure images cover the container */
}

.gallery-img.active {
    display: block; /* Show active image */
}

.gallery-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.gallery-btn.prev {
    left: 0;
}

.gallery-btn.next {
    right: 0;
}

.parent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    padding: 20px;
    background-color: #DEEDF9; /* Add background color for visual separation */
}

.parent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    padding: 20px;
    background-color: #DEEDF9; /* Add background color for visual separation */
}

.div1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #fff; /* Add background color for each grid item */
}

.div2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 20px 20px 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #fff; /* Add background color for each grid item */
    padding-top: 0px;
}

.div2 h2 {
    margin-top: 20px; /* Remove default margin from h2 element */
}

.div1 img {
      width: 75%; /* Resize the image to 70% of its original size */
    max-width: 1200px; /* Set a maximum width to maintain aspect ratio */
    border-radius: 10px;
}

.div2 img {
    width: 52%; /* Make the image 70% of its container's width */
    max-width: 1300; /* Remove the maximum width constraint */
    border-radius: 10px;
}



.div1 p, .div2 p {
    margin-top: 10px;
}

/* Media query for small screens (smartphones) */
@media screen and (max-width: 768px) {
    body {
        font-size: 14px;
    }
    
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 800px;
        margin: 0 auto;
        overflow: hidden;
    }

    nav img.logo {
        height: 40px;
    }

    nav a {
        text-decoration: none;
        color: #333;
        font-size: 10px;
        margin-right: 5px;
        transition: color 0.3s ease;
    }

    nav a:hover {
        color: #0066ff;
    }

    button
       { padding: 5px 5px;
    background-color: #0066ff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
}
    
    
    
    input[type="submit"],
    .cta-btn {
        padding: 10px 10px;
        background-color: #0066ff;
        color: #fff;
        border: none;
        border-radius: 2px;
        font-size: 14px;
        cursor: pointer;
        transition: background-color 0.3s ease;
        text-decoration: none;
    }

    button:hover,
    input[type="submit"]:hover,
    .cta-btn:hover {
        background-color: #2e84f5b5;
    }

    section {
        width: 100%;
    }

    #contact-form,
    #donation-form,
    #volunteer-form {
        width: 100%;
        margin: auto;
        padding: 20px;
        background-color: #DEEDF9;
        border-radius: 8px;
    }

    .parent {
        grid-template-columns: 1fr; /* Change to a single column layout */
        background-color: transparent;
    }

    .div1,
    .div2 {
        width: 100%; /* Occupy full width of the container */
    }
}

/* Media query for medium screens (tablets) */
@media screen and (min-width: 769px) and (max-width: 1024px) {
    section {
        margin: 20px;
    }
}

/* Media query for large screens (desktops) */
@media screen and (min-width: 1025px) {
    section {
        width: 60%;
    }
}
