<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Young Eco-Warriors Global</title>
    <link rel="icon" href="../assets/ecologo1.png" type="image/png">
    <link rel="stylesheet" href="../css/main.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap" rel="stylesheet">
</head>

<body>

    <footer>
        <div class="footer-content">
    
            <div class="footer-contact">
                <div>
                    <p>Contact us:</p>
                    <p>Phone: +1 234 567 890</p>
                </div>
                <div>
                    <p>Email: info@dzikocentreforclimatejustice.com</p>
                </div>
                <div>
                    <p>Follow us:</p>
                    <img src="../assets/icons8-facebook.svg" alt="Facebook" class="social-icon">
                    <img src="../assets/icons8-linkedin.svg" alt="LinkedIn" class="social-icon">
    
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <p>&copy; 2024 DZIKO CENTRE FOR CLIMATE JUSTICE. All rights reserved.</p>
        </div>
    </footer>
    </div>
    </body>

</body>
</html>