<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DZIKO CCJ</title>
    <link rel="icon" href="../assets/ecologo1.png" type="image/png">
    <link rel="stylesheet" href="../css/main.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap" rel="stylesheet">
</head>

<body>

    <footer>
        <div class="footer-content">
    
            <div class="footer-contact">
                <div>
                    <p>Contact us:</p>
                </div>
                <div>
                <p>Email: <a href="mailto:info@dzikoccj.com">info@dzikoccj.com</a></p>
                </div>
                <div>
                    <p>Follow us:</p>
                    <a href="https://" target="_blank">
                        <img src="../assets/icons8-facebook.svg" alt="Facebook" class="social-icon"></a>
                  
                <a href="https://www.linkedin.com/company/dziko-centre-for-climate-justice" target="_blank">
                    <img src="../assets/icons8-linkedin.svg" alt="LinkedIn" class="social-icon">
                </a>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <p>&copy; 2024 DZIKO CENTRE FOR CLIMATE JUSTICE. All rights reserved.</p>
        </div>
    </footer>
    </div>
    </body>

</body>
</html>